

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-height: 400px;
  box-shadow: 6px 4px 13px 1px rgba(34, 60, 80, 0.3);
  flex-direction: column;
  padding: 20px;
  background-color: #b8dfd8;
  margin: 50px auto;
}
/* .container {
 
  max-width: 600px;
  min-height: 400px;
  box-shadow: 6px 4px 13px 1px rgba(34, 60, 80, 0.3);
  flex-direction: column;
  padding: 20px;
} */
h1 {
  color: #152d35;
  margin-bottom: 20px;
}
